#postimagediv img {
    border: 1px solid #d5d5d5;
    max-width: 100%;
}

#woocommerce-product-images .inside,
#woocommerce-product-documents .inside {
    margin: 0;
    padding: 0;
}

#woocommerce-product-images .inside .add_product_images,
#woocommerce-product-documents .inside .add_product_documents {
    padding: 0 12px 12px;
}

#woocommerce-product-images .inside #product_images_container,
#woocommerce-product-documents .inside #product_documents_container {
    padding: 0 0 0 9px;
}

#woocommerce-product-images .inside #product_images_container ul,
#woocommerce-product-documents .inside #product_documents_container ul {
    margin: 0;
    padding: 0;
}

#woocommerce-product-images .inside #product_images_container ul::after,
#woocommerce-product-images .inside #product_images_container ul::before,
#woocommerce-product-documents .inside #product_documents_container ul::after,
#woocommerce-product-documents .inside #product_documents_container ul::before {
    content: ' ';
    display: table;
}

#woocommerce-product-images .inside #product_images_container ul::after,
#woocommerce-product-documents .inside #product_documents_container ul::after {
    clear: both;
}

#woocommerce-product-images .inside #product_images_container ul li.add,
#woocommerce-product-images .inside #product_images_container ul li.image,
#woocommerce-product-images .inside #product_images_container ul li.wc-metabox-sortable-placeholder {
    width: 80px;
    float: left;
    cursor: move;
    border: 1px solid #d5d5d5;
    margin: 9px 9px 0 0;
    background: #f7f7f7;
    border-radius: 2px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#woocommerce-product-documents .inside #product_documents_container ul li.add,
#woocommerce-product-documents .inside #product_documents_container ul li.image,
#woocommerce-product-documents .inside #product_documents_container ul li.wc-metabox-sortable-placeholder {
    cursor: move;
    border: 1px solid #d5d5d5;
    margin: 9px 9px 0 0;
    background: #f7f7f7;
    border-radius: 2px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#woocommerce-product-images .inside #product_images_container ul li.add img,
#woocommerce-product-images .inside #product_images_container ul li.image img,
#woocommerce-product-images .inside #product_images_container ul li.wc-metabox-sortable-placeholder img,
#woocommerce-product-documents .inside #product_documents_container ul li.add img,
#woocommerce-product-documents .inside #product_documents_container ul li.image img,
#woocommerce-product-documents .inside #product_documents_container ul li.wc-metabox-sortable-placeholder img {
    width: 100%;
    height: auto;
    display: block;
}

#woocommerce-product-images .inside #product_images_container ul li.wc-metabox-sortable-placeholder,
#woocommerce-product-documents .inside #product_documents_container ul li.wc-metabox-sortable-placeholder {
    border: 3px dashed #ddd;
    position: relative;
}

#woocommerce-product-images .inside #product_images_container ul li.wc-metabox-sortable-placeholder::after,
#woocommerce-product-documents .inside #product_documents_container ul li.wc-metabox-sortable-placeholder::after {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "";
    font-size: 2.618em;
    color: #ddd;
}

#woocommerce-product-images .inside #product_images_container ul ul.actions,
#woocommerce-product-documents .inside #product_documents_container ul ul.actions {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 2px;
    display: none
}

#woocommerce-product-images .inside #product_images_container ul ul.actions li,
#woocommerce-product-documents .inside #product_documents_container ul ul.actions li {
    float: right;
    margin: 0 0 0 2px;
}

#woocommerce-product-images .inside #product_images_container ul ul.actions li a,
#woocommerce-product-documents .inside #product_documents_container ul ul.actions li a {
    width: 1em;
    height: 1em;
    margin: 0;
    display: block;
    overflow: hidden;
}

#woocommerce-product-images .inside #product_images_container ul ul.actions li a.tips,
#woocommerce-product-documents .inside #product_documents_container ul ul.actions li a.tips {
    cursor: pointer;
}

#woocommerce-product-images .inside #product_images_container ul ul.actions li a.delete,
#woocommerce-product-documents .inside #product_documents_container ul ul.actions li a.delete {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    font-size: 1.4em;
}

#woocommerce-product-images .inside #product_images_container ul ul.actions li a.delete::before,
#woocommerce-product-documents .inside #product_documents_container ul ul.actions li a.delete::before {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "";
    color: #999;
    background: #fff;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    line-height: 1em
}

#woocommerce-product-images .inside #product_images_container ul ul.actions li a.delete:hover::before,
#woocommerce-product-documents .inside #product_documents_container ul ul.actions li a.delete:hover::before {
    color: #a00;
}

#woocommerce-product-images .inside #product_images_container ul li:hover ul.actions,
#woocommerce-product-documents .inside #product_documents_container ul li:hover ul.actions {
    display: block;
}

div#project {
    border-top: 1px solid lightgrey;
    padding: 0 6px 12px 6px;
}

div#team {
    padding: 0 6px 12px 6px;
}

#poststuff #estate-management .inside {
    margin: 0;
    padding: 0;
}

/* Detail */
.detail_group {
    font-weight: 600 !important;
    padding: 0 !important;
    text-transform: uppercase;
    margin-top: 20px !important;
}

.detail_group_table {
    padding: 0;
}

.detail_group_table td {
    background-color: #e8eff5;
}

.product_images .image {
    display: inline-block;
    padding-right: 22px;
}

.accordion_detail_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.information_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accordion_detail_group {
    width: 30%;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.information_group {
    width: 30%;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ui-accordion .ui-accordion-content {
    padding: 10px;
}

.detail_value {
    margin: 0;
}

.accordion_detail_details p {
    margin: 0;
}

.information_group p {
    margin: 0;
}

.description {
    font-size: 0.8em !important;
    color: #999;
}